<template>
  <div>
    <AdminNavBar v-show="!isSuperAdmin"></AdminNavBar>
    <SuperAdminNavBar v-show="isSuperAdmin"></SuperAdminNavBar>
    <br/>
    <h1>Gestion de matériel</h1>
    <br/>
    <b-card-group deck>
      <b-card no-body class="overflow-auto" border-variant="white" style="max-width: 20rem;">
        <b-row no-gutters align-h="center">
          <AdminProductFilter
            @updateFilter="updateFilter"
            @updateSelecCateg="updateSelecCateg"
            @updateSelectType="updateSelectType"
          ></AdminProductFilter>
        </b-row>
        <br/>
        <br/>
        <b-row no-gutters align-h="center">
          <b-button pill class="mr-2" to="/Add">
            <b-icon icon="plus" font-scale="2"></b-icon>
          </b-button>
          <b-button pill @click="deleteMaterials" :disabled="disabled">
            <b-icon icon="trash" font-scale="2"></b-icon>
          </b-button>
        </b-row>
      </b-card>
      <b-card no-body class="overflow-auto" border-variant="white">
        <b-row no-gutters>
              <AdminManagementTable
                :items="items"
                :currentPage="currentPage"
                :perPage="perPage"
                :filter="filter"
                :advancedFilter="advancedFilter"
                :selectedItems="selectedItems"
                @init="init"
                @updateTotalRows="updateTotalRows"
                @updateSelectedItems="updateSelectedItems"
                @updateItems="updateItems"
              ></AdminManagementTable>
            </b-row>
            <b-row no-gutters>
              <TablePage
                :idTable="idTable"
                :totalRows="totalRows"
                @updateCurrentPage="updateCurrentPage"
                @updatePerPage="updatePerPage"
              ></TablePage>
            </b-row>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
import AdminManagementTable from '@/components/AdminManagementTable.vue';
import TablePage from '@/components/TablePage.vue';
import AdminProductFilter from '@/components/AdminProductFilter.vue';
// Allow to use AdminNavBar
// @ is an alias to /src
import AdminNavBar from '@/components/AdminNavBar.vue';
import SuperAdminNavBar from '@/components/SuperAdminNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    AdminManagementTable,
    TablePage,
    AdminProductFilter,
    AdminNavBar,
    SuperAdminNavBar,
  },
  methods: {
    init(idTable) {
      this.idTable = idTable;
    },
    updateCurrentPage(currentPage) {
      this.currentPage = currentPage;
    },
    updatePerPage(perPage) {
      this.perPage = perPage;
    },
    updateTotalRows(totalRows, currentPage) {
      this.totalRows = totalRows;
      this.currentPage = currentPage;
    },
    updateFilter(filter) {
      this.filter = filter;
    },
    updateSelecCateg(selecCateg) {
      this.advancedFilter = [selecCateg, this.selectType];
      this.selecCateg = selecCateg;
    },
    updateSelectType(selectType) {
      this.advancedFilter = [this.selecCateg, selectType];
      this.selectType = selectType;
    },
    updateSelectedItems(selectedItems) {
      this.selectedItems = selectedItems;
    },
    updateItems(item) {
      const aItem = [item];
      this.items = this.items.map((obj) => aItem.find((o) => o.id === obj.id) || obj);
    },
    deleteMaterials() { // When user click on delete button
      const url = 'http://localhost:8888/rest/product/api/deleteProduct/';
      this.selectedItems.forEach((element) => {
        this.axios
          .delete(url.concat(element.barcode)); // Remove object from the database
        this.items = this.items.filter((obj) => obj.id !== element.id);
      });
      this.selectedItems = [];
    },
  },
  data() {
    return {
      items: [],
      perPage: 5, // Number of rows to display
      currentPage: 1, // Number of the current page
      filter: '', // String searched in the table
      advancedFilter: [], // Elements searched in the table
      selectType: [], // Type selected by the user
      selecCateg: '', // Category selected by the user
      totalRows: 1, // Number of rows
      idTable: '',
      disabled: true, // Disabled state of the delete button
      selectedItems: [], // Materials selected by the user

      isSuperAdmin: false, // if the user connected is a super administrator
    };
  },
  /* eslint-disable no-param-reassign */
  mounted() { // At the creation of the component
    if (this.user.userId === -1 || (this.user.admin === false && this.user.superAdmin === false)) this.$router.push({ name: 'Login' });
    this.axios
      .get('http://localhost:8888/rest/product/api/getAllProducts')
      .then((response) => {
        this.items = response.data;
        this.items.forEach((element) => {
          element.Code_barre = element.barcode;
          element.Nom_du_materiel = element.article.id;
          element.Categorie = element.article.category.name;
          element.Etat = element.state;
          if (element.tp === true) element.Usage = 'TP';
          else if (element.donation === true) element.Usage = 'Donnation';
          else if (element.hs === true) element.Usage = 'HS';
          else element.Usage = 'Libre';
          element.Img = `data:image/*;base64,${element.article.image}`;
          this.totalRows = this.items.length;
        });
      });
    this.isSuperAdmin = this.user.superAdmin;
    this.totalRows = this.items.length;
  },
  /* eslint-enable no-param-reassign */
  watch: {
    selectedItems() { // When selectedItems change, update disabled state of the delete button
      if (this.selectedItems.length) this.disabled = false;
      else this.disabled = true;
    },
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
