<template>
  <div>
    <AdminNavBar v-show="!isSuperAdmin"></AdminNavBar>
    <SuperAdminNavBar v-show="isSuperAdmin"></SuperAdminNavBar>
    <p></p>

    <h1>Historique des emprunts</h1>
    <b-card no-body class="overflow-auto" border-variant="white">
      <b-card-body>
        <b-row no-gutters>
          <SearchBar
            @updateFilter="updateFilter"
          ></SearchBar>
        </b-row>
        <b-row no-gutters>
          <b-col md="12">
            <br/>
            <AdminHistoricTable
              :items="items"
              :currentPage="currentPage"
              :perPage="perPage"
              :filter="filter"
              @init="init"
              @updateTotalRows="updateTotalRows"
            ></AdminHistoricTable>
          </b-col>
        </b-row>
        <b-row>
          <TablePage
            :idTable="idTable"
            :totalRows="totalRows"
            @updateCurrentPage="updateCurrentPage"
            @updatePerPage="updatePerPage"
          ></TablePage>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import AdminHistoricTable from '@/components/AdminHistoricTable.vue';
import TablePage from '@/components/TablePage.vue';
import SearchBar from '@/components/SearchBar.vue';
// Allow to use AdminNavBar and SuperAdminNavBar
// @ is an alias to /src
import AdminNavBar from '@/components/AdminNavBar.vue';
import SuperAdminNavBar from '@/components/SuperAdminNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    AdminHistoricTable,
    TablePage,
    SearchBar,
    AdminNavBar,
    SuperAdminNavBar,
  },
  methods: {
    init(idTable) {
      this.idTable = idTable;
    },
    updateCurrentPage(currentPage) {
      this.currentPage = currentPage;
    },
    updatePerPage(perPage) {
      this.perPage = perPage;
    },
    updateTotalRows(totalRows, currentPage) {
      this.totalRows = totalRows;
      this.currentPage = currentPage;
    },
    updateFilter(filter) {
      this.filter = filter;
    },
  },
  data() {
    return {
      // A modifier (bdd) :
      items: [], // Data of the table
      perPage: 5, // Number of rows to display
      currentPage: 1, // Number of the current page
      filter: '', // String searched in the table
      totalRows: 1, // Number of rows
      idTable: '',
      isSuperAdmin: false, // if the user connected is a super administrator
    };
  },
  mounted() { // At the creation of the component
    if (this.user.userId === -1 || (this.user.admin === false && this.user.superAdmin === false)) this.$router.push({ name: 'Login' });
    this.axios
      .get('http://localhost:8888/rest/productborrowing/api/getAllProductBorrowings')
      .then((response) => {
        const allProductsRequest = response.data;
        allProductsRequest.forEach((element) => {
          element.Code_barre = element.product.barcode;
          element.Nom_du_materiel = element.product.article.name;
          element.name = null;
        });
        this.axios
          .get('http://localhost:8888/rest/consumableborrowing/api/getAllConsumableBorrowings')
          .then((resp) => {
            const allConsumablesRequest = resp.data;
            allConsumablesRequest.forEach((e) => {
              e.Code_barre = null;
              e.Nom_du_materiel = e.name;
              allProductsRequest.push(e);
            });
            this.items = allProductsRequest;
            this.items = this.items.filter((obj) => obj.renderDate !== null);
            this.totalRows = this.items.length;
          });
      });
    this.isSuperAdmin = this.user.superAdmin;
    this.totalRows = this.items.length;
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
