<template>
    <div>
        <AdminNavBar v-show="!isSuperAdmin"></AdminNavBar>
        <SuperAdminNavBar v-show="isSuperAdmin"></SuperAdminNavBar>
        <b-card-group>
            <b-card>
                <AdminAddFormCategory
                  @newCategory="newCategory"
                ></AdminAddFormCategory>
            </b-card>

            <b-card>
                <AdminAddFormArticle
                  :categoryOptions="categoryOptions"
                  @newArticle="newArticle"
                ></AdminAddFormArticle>
            </b-card>

            <b-card>
                <AdminAddFormProduct
                  :articleOptions="articleOptions"
                ></AdminAddFormProduct>
            </b-card>

        </b-card-group>
    </div>
</template>

<script>

import AdminAddFormCategory from '@/components/AdminAddFormCategory.vue';
import AdminAddFormArticle from '@/components/AdminAddFormArticle.vue';
import AdminAddFormProduct from '@/components/AdminAddFormProduct.vue';
// Allow to use AdminNavBar
// @ is an alias to /src
import AdminNavBar from '@/components/AdminNavBar.vue';
import SuperAdminNavBar from '@/components/SuperAdminNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    AdminAddFormCategory,
    AdminAddFormArticle,
    AdminAddFormProduct,
    AdminNavBar,
    SuperAdminNavBar,
  },
  data() {
    return {
      isSuperAdmin: false, // if the user connected is a super administrator
      categoryOptions: [{ value: '', text: 'Sélectionner une catégorie' }],
      articleOptions: [{ value: '', text: 'Sélectionner un article' }],
    };
  },
  methods: {
    newCategory(form) {
      this.categoryOptions.push({
        value: form.name,
        text: form.name,
      });
    },
    newArticle(form) {
      this.articleOptions.push({
        value: form.name,
        text: form.name,
      });
    },
  },
  mounted() {
    if (this.user.userId === -1 || (this.user.admin === false && this.user.superAdmin === false)) this.$router.push({ name: 'Login' });
    this.isSuperAdmin = this.user.superAdmin;
    // Get all possible categories
    this.axios
      .get('http://localhost:8888/rest/category/api/getAllCategories')
      .then((response) => {
        response.data.forEach((element) => {
          this.categoryOptions.push({
            value: element.name,
            text: element.name,
          });
        });
      });
    this.axios
      .get('http://localhost:8888/rest/article/api/getAllArticles')
      .then((response) => {
        response.data.forEach((element) => {
          this.articleOptions.push({
            value: element.name,
            text: element.name,
          });
        });
      });
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
