<template>
  <div>
    <AdminNavBar v-show="!isSuperAdmin"></AdminNavBar>
    <SuperAdminNavBar v-show="isSuperAdmin"></SuperAdminNavBar>
    <br/>
    <h1>Emprunts en cours</h1>
    <b-card no-body class="overflow-auto" border-variant="white">
      <b-card-body>
        <b-row no-gutters>
          <SearchBar
            @updateFilter="updateFilter"
          ></SearchBar>
        </b-row>
        <b-row no-gutters>
          <b-col md="12">
            <br/>
            <b-tabs align="center">
                <b-tab title="Matériels" active>
                    <AdminBorrowTableMaterials
                        :items="MatItems"
                        :currentPage="MatCurrentPage"
                        :perPage="MatPerPage"
                        :filter="filter"
                        @init="MatInit"
                        @updateTotalRows="MatUpdateTotalRows"
                        @updateItems="MatUpdateItems"
                    ></AdminBorrowTableMaterials>

                    <TablePage
                        :idTable="MatIdTable"
                        :totalRows="MatTotalRows"
                        @updateCurrentPage="MatUpdateCurrentPage"
                        @updatePerPage="MatUpdatePerPage"
                    ></TablePage>
                </b-tab>

                <b-tab title="Consommables">
                    <AdminBorrowTableConsumables
                        :items="ConsItems"
                        :currentPage="ConsCurrentPage"
                        :perPage="ConsPerPage"
                        :filter="filter"
                        @init="ConsInit"
                        @updateTotalRows="ConsUpdateTotalRows"
                        @updateItems="ConsUpdateItems"
                    ></AdminBorrowTableConsumables>

                    <TablePage
                        :idTable="ConsIdTable"
                        :totalRows="ConsTotalRows"
                        @updateCurrentPage="ConsUpdateCurrentPage"
                        @updatePerPage="ConsUpdatePerPage"
                    ></TablePage>
                </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import AdminBorrowTableMaterials from '@/components/AdminBorrowTableMaterials.vue';
import AdminBorrowTableConsumables from '@/components/AdminBorrowTableConsumables.vue';
import TablePage from '@/components/TablePage.vue';
import SearchBar from '@/components/SearchBar.vue';
// Allow to use AdminNavBar
// @ is an alias to /src
import AdminNavBar from '@/components/AdminNavBar.vue';
import SuperAdminNavBar from '@/components/SuperAdminNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    AdminBorrowTableMaterials,
    AdminBorrowTableConsumables,
    TablePage,
    SearchBar,
    AdminNavBar,
    SuperAdminNavBar,
  },
  methods: {
    MatInit(idTable) {
      this.MatIdTable = idTable;
    },
    MatUpdateCurrentPage(currentPage) {
      this.MatCurrentPage = currentPage;
    },
    MatUpdatePerPage(perPage) {
      this.MatPerPage = perPage;
    },
    MatUpdateTotalRows(totalRows, currentPage) {
      this.MatTotalRows = totalRows;
      this.MatCurrentPage = currentPage;
    },
    MatUpdateItems(item) {
      this.MatItems = this.MatItems.filter((obj) => obj.id !== item.id);
    },

    ConsInit(idTable) {
      this.ConsIdTable = idTable;
    },
    ConsUpdateCurrentPage(currentPage) {
      this.ConsCurrentPage = currentPage;
    },
    ConsUpdatePerPage(perPage) {
      this.ConsPerPage = perPage;
    },
    ConsUpdateTotalRows(totalRows, currentPage) {
      this.ConsTotalRows = totalRows;
      this.ConsCurrentPage = currentPage;
    },
    ConsUpdateItems(item) {
      this.ConsItems = this.ConsItems.filter((obj) => obj.id !== item.id);
    },

    updateFilter(filter) {
      this.filter = filter;
    },
    convertFormatDateFRtoEN(input) {
      const datePart = input.match(/\d+/g);
      const year = datePart[2]; // get only two digits
      const month = datePart[1]; const
        day = datePart[0];

      return `${year}-${month}-${day}`;
    },
  },
  data() {
    return {
      // A modifier (bdd) :
      MatItems: [], // Data of the table of materials
      MatPerPage: 5, // Number of rows to display in the material table
      MatCurrentPage: 1, // Number of the current page of the material table
      MatTotalRows: 1, // Number of rows in the material table

      ConsItems: [], // Data of the table of consumables
      ConsPerPage: 5, // Number of rows to display in the consumable table
      ConsCurrentPage: 1, // Number of the current page of the consumable table
      ConsTotalRows: 1, // Number of rows in the consumable table
      MatIdTable: '',
      ConsIdTable: '',
      filter: '', // String searched in the table

      isSuperAdmin: false, // if the user connected is a super administrator

    };
  },
  /* eslint-disable no-param-reassign */
  mounted() { // At the creation of the component
    if (this.user.userId === -1 || (this.user.admin === false && this.user.superAdmin === false)) this.$router.push({ name: 'Login' });
    this.isSuperAdmin = this.user.superAdmin;
    this.axios
      .get('http://localhost:8888/rest/consumableborrowing/api/getAllConsumableBorrowings')
      .then((response) => {
        this.ConsItems = response.data;
        this.ConsItems.forEach((element) => {
          const nDate = Date.now();
          const eDate = new Date(this.convertFormatDateFRtoEN(element.endDate));
          eDate.setHours(eDate.getHours + 2);
          element.Jours_restants = Math.ceil((eDate - nDate) / (1000 * 60 * 60 * 26));
          if (element.Jours_restants < 0) element.cellVariants = { Jours_restants: 'danger' };
          else if (element.Jours_restants === 0) element.cellVariants = { Jours_restants: 'warning' };
        });
        this.ConsItems = this.ConsItems.filter((obj) => obj.renderDate === null);
      });

    this.axios // Fill consumable table
      .get('http://localhost:8888/rest/productborrowing/api/getAllProductBorrowings')
      .then((response) => {
        this.MatItems = response.data;
        this.MatItems.forEach((element) => {
          const nDate = Date.now();
          const eDate = new Date(this.convertFormatDateFRtoEN(element.endDate));
          eDate.setHours(eDate.getHours() + 2);
          element.Jours_restants = Math.ceil((eDate - nDate) / (1000 * 60 * 60 * 24));
          element.Code_barre = element.product.barcode;
          element.name = element.product.article.name;
          element.Categorie = element.product.article.category.name;
        });
        this.MatItems = this.MatItems.filter((obj) => obj.renderDate === null);
        this.MatTotalRows = this.MatItems.length;
        this.ConsTotalRows = this.ConsItems.length;
      });
    this.MatTotalRows = this.MatItems.length;
    this.ConsTotalRows = this.ConsItems.length;
  },
  computed: {
    ...mapState(['user']),
  },
};
/* eslint-enable no-param-reassign */
</script>
