<template>
  <div>
    <h2>Accueil</h2>
    <Logger></Logger>
  </div>
</template>

<script>
import Logger from '@/components/Logger.vue';

export default {
  components: {
    Logger,
  },
};
</script>

<style scoped>
h2{
  margin: 50px;
}
</style>
