<template>
  <div>
    <SuperAdminNavBar v-show="isSuperAdmin"></SuperAdminNavBar>
    <p></p>
    <h1>Gestion des Administrateurs</h1>
    <p></p>
    <SuperAdminManagment>

    </SuperAdminManagment>
  </div>
</template>

<script>
import SuperAdminManagment from '@/components/SuperAdminManagment.vue';
import SuperAdminNavBar from '@/components/SuperAdminNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    SuperAdminManagment,
    SuperAdminNavBar,
  },
  data() {
    return {
      isSuperAdmin: false, // if the user connected is a super administrator
    };
  },
  mounted() {
    if (this.user.userId === -1 || this.user.superAdmin === false) this.$router.push({ name: 'Login' });
    this.isSuperAdmin = this.user.superAdmin;
  },
  computed: {
    ...mapState(['user']),
  },

};
</script>
