<template>
  <div>
    <UserNavBar></UserNavBar>
    <br/>
    <h1>Demandes en cours</h1>
    <b-card no-body class="overflow-auto" border-variant="white">
      <b-card-body>
        <b-row no-gutters>
          <SearchBar
              @updateFilter="updateFilter"
          ></SearchBar>
        </b-row>
        <b-row no-gutters>
          <b-col md="12">
            <br/>
            <UserDemandTable
              :items="items"
              :currentPage="currentPage"
              :perPage="perPage"
              :filter="filter"
              @init="init"
              @updateTotalRows="updateTotalRows"
              @updateItems="updateItems"
            ></UserDemandTable>
          </b-col>
        </b-row>
        <b-row no-gutters>
          <TablePage
            :idTable="idTable"
            :totalRows="totalRows"
            @updateCurrentPage="updateCurrentPage"
            @updatePerPage="updatePerPage"
          ></TablePage>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import UserDemandTable from '@/components/UserDemandTable.vue';
import TablePage from '@/components/TablePage.vue';
import SearchBar from '@/components/SearchBar.vue';
// Allow to use UserNavBar
// @ is an alias to /src
import UserNavBar from '@/components/UserNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    UserDemandTable,
    TablePage,
    UserNavBar,
    SearchBar,
  },
  methods: {
    init(idTable) {
      this.idTable = idTable;
    },
    updateCurrentPage(currentPage) {
      this.currentPage = currentPage;
    },
    updatePerPage(perPage) {
      this.perPage = perPage;
    },
    updateTotalRows(totalRows, currentPage) {
      this.totalRows = totalRows;
      this.currentPage = currentPage;
    },
    updateFilter(filter) {
      this.filter = filter;
    },
    updateItems(item, type) {
      if (type === 'product') {
        this.items = this.items.filter(
          (obj) => ((obj.id !== item.id) || (obj.Code_barre === null)),
        );
      } else {
        this.items = this.items.filter(
          (obj) => ((obj.Code_barre !== null) || (obj.id !== item.id)),
        );
      }
    },
  },
  data() {
    return {
      // A modifier (bdd) :
      items: [], // Data of the table
      perPage: 5, // Number of rows to display
      currentPage: 1, // Number of the current page
      totalRows: 1, // Number of rows
      filter: '', // String searched in the table
      idTable: '',
    };
  },
  mounted() { // At the creation of the component
    if (this.user.userId === -1 || this.user.admin === true || this.user.superAdmin === true) this.$router.push({ name: 'Login' });
    const urlProd = 'http://localhost:8888/rest/productrequest/api/getProductRequestByUserId?';
    const urlCons = 'http://localhost:8888/rest/consumablerequest/api/getConsumableRequestByUserId?';
    this.axios
      .get(urlProd.concat('userId=', this.user.userId))
      .then((response) => {
        const allProductsRequest = response.data;
        allProductsRequest.forEach((element) => {
          element.Code_barre = element.product.barcode;
          element.name = element.product.article.name;
          element.state = element.product.state;
        });
        this.axios
          .get(urlCons.concat('userId=', this.user.userId))
          .then((resp) => {
            resp.data.forEach((e) => {
              e.Code_barre = null;
              allProductsRequest.push(e);
            });
            this.items = allProductsRequest;
            this.totalRows = this.items.length;
          });
      });
    this.totalRows = this.items.length;
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
