<template>
  <div id="ProductDisplay">
    <UserNavBar></UserNavBar>
    <br/>
    <h1>Liste de matériels</h1>
    <b-card no-body class="overflow-auto" border-variant="white">
      <b-card-body>
        <b-row no-gutters align-h="center">
          <ProductFilter
            :filter="filter"
            :catFilter="catFilter"
            @updateFilter="updateFilter"
            @updateCatFilter="updateCatFilter"
          ></ProductFilter>
        </b-row>
        <b-row no-gutters>
          <b-col md="12">
            <br/>
            <ProductCard :filter="filter" :catFilter="catFilter"></ProductCard>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import ProductCard from '@/components/ProductCard.vue';
import ProductFilter from '@/components/ProductFilter.vue';
// Allow to use UserNavBar
// @ is an alias to /src
import UserNavBar from '@/components/UserNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    ProductCard,
    ProductFilter,
    UserNavBar,
  },
  methods: {
    updateFilter(filter) {
      this.filter = filter;
    },
    updateCatFilter(catFilter) {
      this.catFilter = catFilter;
    },

  },
  data() {
    return {
      filter: '', // String searched for cards
      catFilter: '', // String Categorie filter for cards
    };
  },
  computed: {
    ...mapState(['user']),
  },
  mounted() {
    if (this.user.userId === -1 || this.user.admin === true || this.user.superAdmin === true) this.$router.push({ name: 'Login' });
  },
};
</script>

<style scoped>
#ProductDisplay{
  position: relative;
}
</style>
