<template>
  <div>
    <UserNavBar></UserNavBar>
    <br/>
    <h1>Vos emprunts en cours</h1>
    <b-card no-body class="overflow-auto" border-variant="white">
      <b-card-body>
        <b-row no-gutters>
          <SearchBar
              @updateFilter="updateFilter"
          ></SearchBar>
        </b-row>
        <b-row no-gutters>
          <b-col md="12">
            <br/>
            <UserBorrowTable
              :items="items"
              :currentPage="currentPage"
              :perPage="perPage"
              :filter="filter"
              @init="init"
              @updateTotalRows="updateTotalRows"
            ></UserBorrowTable>
          </b-col>
        </b-row>
        <b-row no-gutters>
          <TablePage
            :idTable="idTable"
            :totalRows="totalRows"
            @updateCurrentPage="updateCurrentPage"
            @updatePerPage="updatePerPage"
          ></TablePage>
        </b-row>
      </b-card-body>
    </b-card>
  </div>


</template>

<script>
import UserBorrowTable from '@/components/UserBorrowTable.vue';
import TablePage from '@/components/TablePage.vue';
import SearchBar from '@/components/SearchBar.vue';
// Allow to use UserNavBar
// @ is an alias to /src
import UserNavBar from '@/components/UserNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    UserBorrowTable,
    TablePage,
    SearchBar,
    UserNavBar,
  },
  methods: {
    init(idTable) {
      this.idTable = idTable;
    },
    updateCurrentPage(currentPage) {
      this.currentPage = currentPage;
    },
    updatePerPage(perPage) {
      this.perPage = perPage;
    },
    updateTotalRows(totalRows, currentPage) {
      this.totalRows = totalRows;
      this.currentPage = currentPage;
    },
    updateFilter(filter) {
      this.filter = filter;
    },
    convertFormatDateFRtoEN(input) {
      const datePart = input.match(/\d+/g);
      const year = datePart[2]; // get only two digits
      const month = datePart[1]; const
        day = datePart[0];

      return `${year}-${month}-${day}`;
    },
  },
  data() {
    return {
      // A modifier (bdd) :
      items: [], // Data of the table
      perPage: 5, // Number of rows to display
      currentPage: 1, // Number of the current page
      filter: '', // String searched in the table
      totalRows: 1, // Number of rows
      idTable: '',
    };
  },
  mounted() { // At the creation of the component
    if (this.user.userId === -1 || this.user.admin === true || this.user.superAdmin === true) this.$router.push({ name: 'Login' });
    const urlProd = 'http://localhost:8888/rest/productborrowing/api/getProductBorrowingByUserId?';
    const urlCons = 'http://localhost:8888/rest/consumableborrowing/api/getConsumableBorrowingByUserId?';
    this.axios
      .get(urlProd.concat('userId=', this.user.userId))
      .then((response) => {
        const allProductsRequest = response.data;
        allProductsRequest.forEach((element) => {
          if (element.product !== null) {
            element.Code_barre = element.product.barcode;
            element.Nom_du_materiel = element.product.article.name;
            element.Etat = element.product.state;
            const nDate = Date.now();
            const eDate = new Date(this.convertFormatDateFRtoEN(element.endDate));
            element.Jours_restants = Math.ceil((eDate - nDate) / (1000 * 60 * 60 * 24) - 1);
          }
        });
        this.axios
          .get(urlCons.concat('userId=', this.user.userId))
          .then((resp) => {
            const allConsumablesRequest = resp.data;
            allConsumablesRequest.forEach((e) => {
              e.Code_barre = null;
              e.Nom_du_materiel = e.name;
              const nDate = Date.now();
              const eDate = new Date(this.convertFormatDateFRtoEN(e.endDate));
              e.Jours_restants = Math.ceil((eDate - nDate) / (1000 * 60 * 60 * 24) - 1);
              allProductsRequest.push(e);
            });
            this.items = allProductsRequest;
            this.items = this.items.filter((obj) => obj.renderDate === null);
            this.totalRows = this.items.length;
          });
      });
    this.totalRows = this.items.length;
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>
