<template>
    <div>
        <UserNavBar></UserNavBar>
        <br/>
        <h1>Panier</h1>
        <b-card no-body class="overflow-auto" border-variant="white">
          <b-card-body>
            <b-row no-gutters>
              <b-col md="12">
                <br/>
                <Basket
                  :items="items"
                  :currentPage="currentPage"
                  :perPage="perPage"
                  @init="init"
                  @updateTotalRows="updateTotalRows"
                  @updateItems="updateItems"
                ></Basket>
              </b-col>
            </b-row>
            <b-row no-gutters>
              <TablePage
                :idTable="idTable"
                :totalRows="totalRows"
                @updateCurrentPage="updateCurrentPage"
                @updatePerPage="updatePerPage"
              ></TablePage>
            </b-row>
            <b-row no-gutters align-h="center">
              <form onsubmit="return false">
                <b-form-checkbox
                    v-model="conditions"
                    name="conditions"
                    value="accepted"
                    unchecked-value="unaccepted"
                    required>
                    Je m'engage à avoir lu les conditions d'emprunt de matériels informatiques et à le restituer dans les conditions inscrites.
                </b-form-checkbox>
                <b-button type="submit" :disabled="disabled" @click="valider">Valider</b-button>
              </form>
            </b-row>
          </b-card-body>
        </b-card>
    </div>
</template>

<script>

import Basket from '@/components/Basket.vue';
import TablePage from '@/components/TablePage.vue';
import { mapState } from 'vuex';
// Allow to use UserNavBar
// @ is an alias to /src
import UserNavBar from '@/components/UserNavBar.vue';


export default {
  components: {
    Basket,
    TablePage,
    UserNavBar,
  },
  computed: {
    ...mapState(['basketProducts', 'user']),
  },
  methods: {
    init(idTable) {
      this.idTable = idTable;
    },
    updateCurrentPage(currentPage) {
      this.currentPage = currentPage;
    },
    updatePerPage(perPage) {
      this.perPage = perPage;
    },
    updateTotalRows(totalRows, currentPage) {
      this.totalRows = totalRows;
      this.currentPage = currentPage;
    },
    updateItems(item) {
      item.startDate = this.convertFormatDateENtoFR(item.startDate);
      this.items = this.items.filter((obj) => ((obj.product.id !== item.product.id) || (obj.startDate !== item.startDate)));
      this.deleteProductBorrowing(item);
    },
    convertFormatDateENtoFR(input) {
      const datePart = input.match(/\d+/g);
      const year = datePart[0]; // get only two digits
      const month = datePart[1];
      const day = datePart[2];

      return `${day}-${month}-${year}`;
    },
    valider() {
      this.items.forEach((item) => {
        const sendItem = {
          endDate: this.convertFormatDateENtoFR(item.endDate),
          id: 0,
          product: item.product,
          startDate: this.convertFormatDateENtoFR(item.startDate),
          userId: this.user.userId,
        };
        this.axios
          .post('http://localhost:8888/rest/productrequest/api/createProductRequest', sendItem);
        this.deleteProductBorrowing(sendItem);
        this.$store.commit('removeProductFromBasket', item);
        this.items = this.items.filter((obj) => obj.product.id !== item.product.id);
        this.conditions = 'unaccepted';
      });
    },
    deleteProductBorrowing(item) {
      const urlGet = 'http://localhost:8888/rest/productborrowing/api/getProductBorrowingByUserId?';
      const urlDelete = 'http://localhost:8888/rest/productborrowing/api/deleteProductBorrowing/';
      this.axios
        .get(urlGet.concat('userId=', this.user.userId))
        .then((response) => {
          response.data.forEach((element) => {
            if (element.product.id === item.product.id && element.startDate === item.startDate) {
              this.axios
                .delete(urlDelete.concat(element.id));
            }
          });
        });
    },
  },
  data() {
    return {
      items: [],
      perPage: 5, // Number of rows to display
      currentPage: 1, // Number of the current page
      totalRows: 1, // Number of rows
      idTable: '',
      conditions: 'unaccepted',
      disabled: true,
    };
  },
  mounted() {
    if (this.user.userId === -1 || this.user.admin === true || this.user.superAdmin === true) this.$router.push({ name: 'Login' });
    this.basketProducts.forEach((bProd) => {
      this.items.push({
        img: bProd.article.img,
        name: bProd.article.name,
        startDate: bProd.startDate,
        endDate: bProd.endDate,
        barcode: bProd.product.barcode,
        product: bProd.product,
      });
    });
    this.totalRows = this.items.length;
  },
  watch: {
    conditions() {
      if (this.conditions === 'unaccepted') this.disabled = true;
      else this.disabled = false;
    },
  },
};
</script>
