<template>
  <div>
    <UserNavBar></UserNavBar>
    <ProductDetails></ProductDetails>
  </div>
</template>

<script>
import ProductDetails from '@/components/ProductDetails.vue';
// Allow to use UserNavBar
// @ is an alias to /src
import UserNavBar from '@/components/UserNavBar.vue';

import { mapState } from 'vuex';

export default {
  components: {
    ProductDetails,
    UserNavBar,
  },
  computed: {
    ...mapState(['user']),
  },
  mounted() {
    if (this.user.userId === -1 || this.user.admin === true || this.user.superAdmin === true) this.$router.push({ name: 'Login' });
  },
};
</script>
