
<template>
  <div id="bar" sticky-top>
    <!--
      Add the following code to keep navbar at the top
      class="header" fixed="top"
     -->
    <b-navbar
    id="navbar" toggleable="lg" type="dark" variant="dark"
    >
      <b-navbar-brand id="brand" >Menu</b-navbar-brand>

      <!-- When responsive little size :
      you will have compressed menu
      with a toggle button to display it -->
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav id="tabs">

          <!-- All different items -->
          <b-nav-item to="Borrows">Liste des emprunts</b-nav-item>
          <b-nav-item to="AdminDemand">Demande de Matériel</b-nav-item>
          <b-nav-item to="AdminManagement">Gestion de matériel</b-nav-item>
          <b-nav-item to="Add">Ajout de matériel</b-nav-item>
          <b-nav-item to="AdminHistoric">Historique des emprunts</b-nav-item>

        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-button @click="deconnect" id="nav-btn" variant="danger">Deconnexion</b-button>
        </b-navbar-nav>
      </b-collapse>

    </b-navbar>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'UserNavBar',
  props: {
    activated: String,
  },
  methods: {
    deconnect() {
      this.$router.push({ name: 'Login' });
      this.decoUser();
    },
    ...mapMutations(['decoUser']),
  },
};
</script>

<style>
#bar{
  position: relative;
}

#brand{
  font-weight: bold;
}

#navbar {
  font-size: 19px;
}

/* Without this, buttons are attached */
#nav-btn{
  margin:5px;
}

#nav-collapse {
  padding: 5px;
}

/* Color of hover tab */
#nav-collapse :hover{
  color: #f7f7f7;
}

/* Color of unselected tab */
#tabs a {
  font-weight: bold;
  color: #919191;
}

/* Color of selected tab */
#nav-collapse a.router-link-exact-active {
  color: #f7f7f7;
}

</style>
