<template>
  <div>
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="cptItems"
      :filter="filter"
      @filtered="onFiltered"
    >
      <template v-slot:cell(Retour_emprunt)="row">
        <b-button
          block
          size="sm"
          @click="returnMaterial(row.item)"
          v-b-modal.commentModalMat
        >Retourner</b-button>
      </template>
    </b-table>

    <AdminReturnComment
      :id="commentModalMat"
      :item="returnedItem"
      @updateAdminComment="updateAdminComment"
    ></AdminReturnComment>
  </div>
</template>

<script>
import AdminReturnComment from '@/components/AdminReturnComment.vue';

export default {
  name: 'UserBorrowTable',
  components: {
    AdminReturnComment,
  },
  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
    filter: { // String searched in the table
      type: String,
      required: true,
    },
  },
  data() {
    return {
      fields: [// Headers of the table
        { key: 'Code_barre', label: 'Code barre', sortable: true },
        { key: 'Categorie', label: 'Catégorie', sortable: true },
        { key: 'name', label: 'Nom du matériel', sortable: true },
        { key: 'userId', label: 'Numéro étudiant', sortable: true },
        { key: 'endDate', label: 'Date de retour', sortable: true },
        {
          key: 'Jours_restants', label: 'Jours restants', sortable: true, variant: 'variant',
        },
        { key: 'Retour_emprunt', label: "Retour d'emprunt", thStyle: { width: '15%' } },
      ],
      id: 'tableMaterials',
      totalRows: 1, // Number of rows
      commentModalMat: 'commentModalMat',
      returnedItem: null,
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
  },
  methods: {
    onFiltered(filteredItems) { // When a filter is applied on the table
      this.totalRows = filteredItems.length; // Update the number of rows
      this.currentPage = 1; // Update the current page to 1
    },
    returnMaterial(item) {
      item.renderDate = Date.now();
      this.returnedItem = item;
    },
    updateAdminComment(item) {
      const sendItem = {};
      sendItem.adminComment = item.adminComment;
      sendItem.endDate = item.endDate;
      sendItem.id = item.id;
      // Get today's date
      let today = new Date();
      const dd = String(today.getDate()).padStart(2, '0');
      const mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
      const yyyy = today.getFullYear();
      today = `${dd}-${mm}-${yyyy}`;
      sendItem.renderDate = today;
      item.renderDate = today;
      sendItem.pickedUp = true;
      sendItem.product = item.product;
      sendItem.startDate = item.startDate;
      sendItem.userId = item.userId;
      this.axios
        .put('http://localhost:8888/rest/productborrowing/api/updateProductBorrowing', sendItem); // Update object from the database
      this.$emit('updateItems', item);
    },
    retard(valeur) {
      if (valeur < 0) return 'danger';
      if (valeur === 0) return 'warning';
      return null;
    },
  },
  computed: {
    cptItems() {
      return this.items.map((datum) => ({
        ...datum,
        _cellVariants: {
          Jours_restants: this.retard(datum.Jours_restants),
        },
      }));
    },
  },
};

</script>
