<template>
    <div>
    <h2>Ajout d'un article</h2>
    <b-form @submit="addArticle" onsubmit="return false">
        <b-form-select
            id="category"
            v-model="form.category.name"
            :options="categoryOptions"
            required
        ></b-form-select>
        <p></p>
        <b-form-input
            id="articleName"
            v-model="form.name"
            placeholder="Nom de l'article"
            required
        ></b-form-input>
        <p></p>
        <b-form-textarea
            id="description"
            v-model="form.description"
            placeholder="Description de l'article"
            required
        ></b-form-textarea>
        <p></p>
        <b-form-file id="files" v-model="img" accept="image/*" required></b-form-file>
        <p></p>
        <b-button type ="submit">Ajouter l'article</b-button>
        <p></p>
        <!-- Feedbacks -->
        <b-form-valid-feedback :state="valState">
          {{valFeedback}}
        </b-form-valid-feedback>
        <b-form-invalid-feedback :state="invState">
          {{invFeedback}}
        </b-form-invalid-feedback>
    </b-form>
    </div>
</template>

<script>
export default {
  name: 'AdminAddFormArticle',
  props: {
    categoryOptions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      form: {
        category: {
          name: '',
          article: [],
          id: 0,
        },
        name: '',
        id: 0,
        description: '',
        product: [],
        image: '',
      },
      valState: null,
      valFeedback: '',
      invState: null,
      invFeedback: '',
      base64: '',
      fileName: '',
      img: null,
    };
  },
  methods: {
    /* eslint-disable no-param-reassign */
    addArticle() {
      const url = 'http://localhost:8888/rest/category/api/getCategoryByName?';
      const selectedValue = this.form.category.name;
      this.axios
        .get(url.concat('name=', selectedValue))
        .then((response) => {
          this.$emit('newArticle', this.form);
          this.form.category = response.data;
          this.form.image = this.base64;

          // Creation of the article in database
          this.axios
            .post('http://localhost:8888/rest/article/api/createArticle', this.form)
            .then(() => {
              this.valState = true;
              this.invState = null;
              this.valFeedback = 'Article ajouté';

              // Restet of the form
              this.form.name = '';
              this.form.description = '';
              this.form.image = null;
              this.img = null;
              this.form.category.name = '';
            })
            .catch((error) => {
              this.invState = false;
              this.valState = null;
              this.form.category.name = selectedValue;
              // If attributes witch shloud be unique are already used
              if (error.response.status === 409) {
                this.invFeedback = "Nom d'article déjà utilisé";
              } else { // If attributes are incorrect
                this.invFeedback = 'Champs renseignés incorrects';
              }
            });
        });
    },
    getByteArray(myFile) {
      const reader = new FileReader();
      const fileByteArray = [];
      reader.readAsArrayBuffer(myFile);
      reader.onloadend = function (evt) {
        if (evt.target.readyState === FileReader.DONE) {
          const arrayBuffer = evt.target.result;
          const array = new Uint8Array(arrayBuffer);
          for (let i = 0; i < array.length; i += 1) {
            fileByteArray.push(array[i]);
          }
        }
      };
      return fileByteArray;
    },
  },
  watch: {
    img() {
      if (this.img !== null) this.base64 = this.getByteArray(this.img);
    },
  },
};
</script>
