<template>
    <div>
    <h2>Ajout d'une catégorie</h2>
    <b-form @submit="addCategory" onsubmit="return false">
        <b-form-input
            v-model="form.name"
            placeholder="Nom de la catégorie"
            required
          ></b-form-input>
        <p></p>
        <b-button type="submit">Ajouter la cagétorie</b-button>
        <p></p>
        <b-form-valid-feedback :state="valState">
          {{valFeedback}}
        </b-form-valid-feedback>
        <b-form-invalid-feedback :state="invState">
          {{invFeedback}}
        </b-form-invalid-feedback>
    </b-form>

    </div>
</template>

<script>
export default {
  name: 'AdminAddFormCategory',
  data() {
    return {
      form: {
        id: 0,
        article: [],
        name: '',
      },
      valState: null,
      valFeedback: '',
      invState: null,
      invFeedback: '',
    };
  },
  methods: {
    addCategory() {
      this.axios
        .post('http://localhost:8888/rest/category/api/createCategory', this.form)
        .then(() => {
          this.$emit('newCategory', this.form);
          this.valState = true;
          this.invState = null;
          this.valFeedback = 'Catégorie ajoutée';
          this.form.name = '';
        })
        .catch((error) => {
          this.invState = false;
          this.valState = null;
          if (error.response.status === 409) this.invFeedback = 'Nom de catégorie déjà utilisé';
          else this.invFeedback = 'Nom de catégorie incorrect';
        });
    },
  },
};
</script>
