<template>
    <div>
    <h2>Ajout d'un produit</h2>
    <b-form @submit="addProduct" onsubmit="return false">
        <b-form-select
            id="article"
            v-model="form.article.name"
            :options="articleOptions"
            required
        ></b-form-select>
        <p></p>
        <b-form-input
            id="barcode"
            v-model.number="form.barcode"
            placeholder="Code barre"
            required
            type="number"
        ></b-form-input>
        <p></p>
        <b-form-select
            id="state"
            v-model="form.state"
            :options="stateOptions"
            required
        ></b-form-select>
        <p></p>
        <b-form-select
            id="usage"
            v-model="usage"
            :options="usageOptions"
            required
        ></b-form-select>
        <p></p>
        <b-button type ="submit">Ajouter le produit</b-button>
        <b-form-valid-feedback :state="valState">
          {{valFeedback}}
        </b-form-valid-feedback>
        <b-form-invalid-feedback :state="invState">
          {{invFeedback}}
        </b-form-invalid-feedback>
    </b-form>
    </div>
</template>

<script>
export default {
  name: 'AdminAddFormProduct',
  props: {
    articleOptions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      form: {
        article: {
          name: '',
          id: 0,
          description: '',
          product: [],
        },
        barcode: null,
        state: '',
        available: true,
        id: 0,
        reserved: true,
        tp: false,
        donation: false,
        hs: false,
      },
      usage: '',
      stateOptions: [{ value: '', text: 'Sélectionner un état' }, 'Neuf', 'Usé', 'Délabré'],
      usageOptions: [{ value: '', text: 'Sélectionner un usage' }, 'TP', 'Donation', 'HS', 'Libre'],
      valState: null,
      valFeedback: '',
      invState: null,
      invFeedback: '',
    };
  },
  methods: {
    addProduct() {
      const url = 'http://localhost:8888/rest/article/api/getArticleByName?';
      const selectedValue = this.form.article.name;
      this.axios
        .get(url.concat('name=', selectedValue))
        .then((response) => {
          this.form.article = response.data;
          if (this.usage === 'TP') this.form.tp = true;
          else if (this.usage === 'Donation') this.form.donation = true;
          else if (this.usage === 'HS') this.form.hs = true;
          // Creation of the product in database
          this.axios
            .post('http://localhost:8888/rest/product/api/createProduct', this.form)
            .then(() => {
              this.valState = true;
              this.invState = null;
              this.valFeedback = 'Produit ajouté';
              // Restet of the form
              this.form.barcode = '';
              this.form.state = '';
              this.form.article.name = '';
              this.usage = '';
            })
            .catch((error) => {
              this.invState = false;
              this.valState = null;
              this.form.article.name = selectedValue;
              // If attributes witch shloud be unique are already used
              if (error.response.status === 409) {
                this.invFeedback = 'Code barre déjà utilisé';
              } else { // If attributes are incorrect
                this.invFeedback = 'Champs renseignés incorrects';
              }
            });
        });
    },
  },
};
</script>
