<template>
  <div>
    <b-alert
      :show="dismissCountDown"
      dismissible
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      Modification enregistrée
    </b-alert>
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="Items"
      :filter="filter"
      :filter-ignored-fields="['Img']"
      @filtered="onFiltered"
    >

      <!-- Inputs and forms select -->
      <template v-slot:cell(Nom_du_materiel)="row">
        <b-form-select v-model="row.item.Nom_du_materiel" :options="productOptions"/>
      </template>

      <template v-slot:cell(Usage)="row">
        <b-form-select v-model="row.item.Usage" :options="usageOptions"/>
      </template>

       <template v-slot:cell(Etat)="row">
        <b-form-select v-model="row.item.Etat" :options="stateOptions"/>
      </template>

      <!-- Selection product to delete -->
      <template v-slot:cell(Selection)="row">
        <b-form-checkbox v-model="selected" :value="row.item"></b-form-checkbox>
      </template>

      <!-- Edit image button -->
      <template v-slot:cell(Modifier_image)="row">
          <p class="h2">
            <b-icon
              icon="pencil"
              @click="editMaterial(row.item)">
            </b-icon>
          </p>
      </template>

      <!-- Save button -->
      <template v-slot:cell(Sauvegarder)="row">
          <p class="h2">
            <b-icon
              icon="check"
              @click="saveMaterial(row.item)">&#xe172;
            </b-icon>
          </p>
      </template>

    </b-table>

    <AdminEditProductImage
      :editModal="this.editModal"
      @updateNewImg="updateNewImg"
    ></AdminEditProductImage>
  </div>
</template>

<script>
import AdminEditProductImage from '@/components/AdminEditProductImage.vue';

export default {
  name: 'AdminManagementTable',
  components: {
    AdminEditProductImage,
  },
  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
    filter: { // String searched in the table
      type: String,
      required: true,
    },
    advancedFilter: { // Elements searched in the table
      type: Array,
      required: true,
    },
    selectedItems: { // Elements selected in the table
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      fields: [
        {
          key: 'Code_barre', label: 'Code barre', sortable: true, thStyle: { width: '20%', 'vertical-align': 'middle' },
        },
        {
          key: 'Nom_du_materiel', label: 'Nom du matériel', sortable: true, thStyle: { width: '20%', 'vertical-align': 'middle' },
        },
        {
          key: 'Categorie', label: 'Catégorie', sortable: true, thStyle: { width: '20%', 'vertical-align': 'middle' },
        },
        { key: 'Usage', sortable: true, thStyle: { width: '18%', 'vertical-align': 'middle' } },
        { key: 'Etat', sortable: true, thStyle: { width: '18%', 'vertical-align': 'middle' } },
        { key: 'Modifier_image', label: 'Modifier image', thStyle: { width: '5%' } },
        { key: 'Sauvegarder', label: '', thStyle: { width: '5%' } },
        { key: 'Selection', label: '', thStyle: { width: '5%', 'vertical-align': 'middle' } },
      ],
      id: 'table',
      totalRows: 1,
      Items: null, // Data of the table
      editModal: { // Object used in the edit modal
        id: 'editModal',
        title: "Modification de l'image",
        content: '',
      },
      file: null,
      usageOptions: ['TP', 'HS', 'Donation', 'Libre'], // Possible type of usage
      stateOptions: ['Neuf', 'Usé', 'Délabré'], // Possible state options
      productOptions: [], // Possible product options
      selected: [], // Elements selected in the table
      dismissSecs: 5,
      dismissCountDown: 0,
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent

    // Get all possible articles
    this.axios
      .get('http://localhost:8888/rest/article/api/getAllArticles')
      .then((response) => {
        response.data.forEach((element) => {
          this.productOptions.push({
            value: element.id,
            text: element.name,
          });
        });
      });
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
    selectedItems() {
      this.selected = this.selectedItems;
    },
    selected() {
      this.$emit('updateSelectedItems', this.selected); // Emit the new selected rows to the parent
    },
    advancedFilter() { // Edit the data array according to the advanced filter
      let index;
      this.Items = [];

      const selectedCategory = this.advancedFilter[0]; // Category selected by user
      const selectedType = this.advancedFilter[1]; // Type selected by user

      if (selectedCategory || selectedType.length) { // When something is selected
        for (index = 0; index < this.items.length; index += 1) { // For each materials
          const itemCategory = this.items[index].Categorie; // Category of the current material
          const itemType = this.items[index].Type; // Type of the current material

          // When only category filter is applied
          if ((selectedCategory.localeCompare(itemCategory) === 0) && !(selectedType.length)) {
            this.Items.push(this.items[index]); // Add the current material in the data
          }

          // When only type filter is applied
          if (selectedType.includes(itemType) && !(selectedCategory)) {
            this.Items.push(this.items[index]); // Add the current material in the data
          }

          // When type and category filter are applied
          if (selectedCategory && selectedType) {
            if ((selectedCategory.localeCompare(itemCategory) === 0)
                && (selectedType.includes(itemType))) {
              this.Items.push(this.items[index]); // Add the current material in the data
            }
          }
        }
      } else this.Items = this.items.slice(); // Copy of the all data
      this.totalRows = this.Items.length; // Update total rows in order to update number of pages
    },
    items() {
      this.Items = this.items;
    },
  },
  methods: {
    onFiltered(filteredItems) { // When a filter is applied on the table
      this.totalRows = filteredItems.length; // Update the number of rows
      this.currentPage = 1; // Update the current page number to 1
    },
    editMaterial(item) { // When user click on edit button
      this.editModal.content = item;
      this.$root.$emit('bv::show::modal', this.editModal.id);
    },
    /* eslint-disable no-param-reassign */
    saveMaterial(item) {
      const sendItem = {};
      const url = 'http://localhost:8888/rest/article/api/getArticleById?';
      this.axios
        .get(url.concat('id=', item.Nom_du_materiel))
        .then((response) => {
          sendItem.article = response.data;
          sendItem.article.image = item.byteArray;
          sendItem.available = item.available;
          sendItem.barcode = item.Code_barre;
          sendItem.id = item.id;
          sendItem.reserved = item.reserved;
          sendItem.state = item.Etat;
          sendItem.tp = false;
          sendItem.donation = false;
          sendItem.hs = false;
          if (item.Usage === 'TP') sendItem.tp = true;
          else if (item.Usage === 'Donation') sendItem.donation = true;
          else if (item.Usage === 'HS') sendItem.hs = true;
          item.article = response.data;
          // Update changement database
          this.axios
            .put('http://localhost:8888/rest/product/api/updateProduct', sendItem);
          this.axios
            .put('http://localhost:8888/rest/article/api/updateArticle', sendItem.article);
          this.showAlert();
          this.$emit('updateItems', item);
        });
    },
    /* eslint-enable no-param-reassign */
    updateNewImg(idItem, newImg) {
      const objIndex = this.Items.findIndex(((obj) => obj.id === idItem));
      this.Items[objIndex].Img = newImg;
      const config = { responseType: 'blob' };
      this.axios
        .get(newImg, config).then((response) => {
          this.Items[objIndex].byteArray = this.getByteArray(new File([response.data], 'fileName'));
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    getByteArray(myFile) {
      const reader = new FileReader();
      const fileByteArray = [];
      reader.readAsArrayBuffer(myFile);
      reader.onloadend = function (evt) {
        if (evt.target.readyState === FileReader.DONE) {
          const arrayBuffer = evt.target.result;
          const array = new Uint8Array(arrayBuffer);
          for (let i = 0; i < array.length; i += 1) {
            fileByteArray.push(array[i]);
          }
        }
      };
      return fileByteArray;
    },
  },

};

</script>
