<template>
    <b-modal :id="id" :title="title" @hide="resetEditModal" @ok="validate">
      <b-input
        v-model="comment"
      ></b-input>
    </b-modal>
</template>

<script>
export default {
  name: 'AdminReturnComment',
  props: {
    id: {
      type: String,
      required: true,
    },
    item: {
      required: true,
    },
  },
  data() {
    return {
      comment: '',
      title: 'Commentaire de retour',
    };
  },
  methods: {
    resetEditModal() {
      this.comment = '';
    },
    validate() {
      this.item.adminComment = this.comment;
      this.$emit('updateAdminComment', this.item);
    },
  },
};
</script>
