<template>
    <b-modal :id="editModal.id" :title="editModal.title" @hide="resetEditModal" @ok="validate">
      <b-container>
        <b-row align-h="center">
          <b-col cols="6">
            Image actuelle :
            <b-card-img
              v-if="editModal.content.Img"
              :src="editModal.content.Img"
              height="200px"/>
          </b-col>
          <b-col cols="6">
            Nouvelle image :
            <b-card-img v-if="newImg" :src="newImg" height="200px"/>
          </b-col>
        </b-row>
        <b-row align-h="center" class="mt-3">
          <b-col cols="8">
            <b-form-file v-model="file" accept="image/*"></b-form-file>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
</template>

<script>
export default {
  name: 'AdminEditProductImage',
  props: {
    editModal: {
      required: true,
    },
  },
  data() {
    return {
      file: null,
      newImg: null,
    };
  },
  watch: {
    file() {
      this.newImg = URL.createObjectURL(this.file); // Update the new image render
    },
  },
  methods: {
    resetEditModal() {
      this.newImg = null;
    },
    validate() {
      this.$emit('updateNewImg', this.editModal.content.id, this.newImg);
    },
  },
};
</script>
