<template>

  <div>
    <SearchBar
      @updateFilter="updateFilter"
    ></SearchBar>
    <p></p>
    <b-form-checkbox-group v-model="selectType">
      <b-form-checkbox value="TP">TP</b-form-checkbox>
      <b-form-checkbox value="Donation">Donation</b-form-checkbox>
      <b-form-checkbox value="HS">HS</b-form-checkbox>
    </b-form-checkbox-group>
    <p></p>
    <b-form-select
      v-model="selecCateg"
      :options="categOptions"
    ></b-form-select>
  </div>
</template>

<script>
import SearchBar from '@/components/SearchBar.vue';

export default {
  name: 'AdminProductFilter',
  components: {
    SearchBar,
  },
  methods: {
    updateFilter(filter) {
      this.filter = filter;
    },
  },
  data() {
    return {
      filter: '', // String searched in the table
      categOptions: [{ value: '', text: 'Sélectionner une catégorie' }],
      selectType: [], // Selected type of materials searched in the table
      selecCateg: '', // Selected category of materials searched in the table
    };
  },
  mounted() {
    this.axios
      .get('http://localhost:8888/rest/category/api/getAllCategories')
      .then((response) => {
        response.data.forEach((element) => {
          this.categOptions.push({
            value: element.name,
            text: element.name,
          });
        });
      });
  },
  watch: {
    filter() { // Watch when a changement occures on the page
      this.$emit('updateFilter', this.filter); // Emit the new filter to the parent
    },
    selecCateg() {
      this.$emit('updateSelecCateg', this.selecCateg); // Emit the new selected category to the parent
    },
    selectType() {
      this.$emit('updateSelectType', this.selectType); // Emit the new selected type of materials to the parent
    },
  },
};
</script>
