<template>
  <div>
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="items"
      :filter="filter"
      @filtered="onFiltered"
    >
      <template v-slot:cell(Valider)="row">
        <b-button
          block
          size="sm"
          variant="success"
          @click="onClickValider(row.item)"
        >Valider</b-button>
      </template>
      <template v-slot:cell(Refuser)="row">
        <b-button
          block
          size="sm"
          variant="danger"
          @click="onClickRefuser(row.item)"
        >Refuser</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  name: 'UserBorrowTable',
  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
    filter: { // String searched in the table
      type: String,
      required: true,
    },
  },
  data() {
    return {
      fields: [// Headers of the table
        { key: 'Code_barre', label: 'Code barre', sortable: true },
        { key: 'Categorie', label: 'Catégorie', sortable: true },
        { key: 'Nom_du_materiel', label: 'Nom du matériel', sortable: true },
        { key: 'userId', label: 'Numéro étudiant', sortable: true },
        { key: 'startDate', label: 'Date de début', sortable: true },
        { key: 'endDate', label: 'Date de fin', sortable: true },
        { key: 'Valider' },
        { key: 'Refuser' },
      ],
      id: 'tableMaterials',
      totalrows: 1, // Number of rows
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
  },
  methods: {
    onFiltered(filteredItems) { // When a filter is applied on the table
      this.totalRows = filteredItems.length; // Update the number of rows
      this.currentPage = 1; // Update the current page to 1
    },
    onClickValider(item) {
      // window.alert(`Demande validée : ${JSON.stringify(item, null, 2)}`);
      let url = '';
      if (item.Code_barre != null) { // if it's a product
        url = 'http://localhost:8888/rest/productrequest/api/deleteProductRequest/';
        this.axios
          .delete(url.concat(item.id)); // Remove object from the database
        const sendItem = {};
        sendItem.adminComment = ''; // Ajouter un formulaire ?
        sendItem.endDate = item.endDate;
        sendItem.id = 0;
        sendItem.pickedUp = false;
        sendItem.product = item.product;
        sendItem.renderDate = null;
        sendItem.startDate = item.startDate;
        sendItem.userId = item.userId;
        this.axios
          .post('http://localhost:8888/rest/productborrowing/api/createProductBorrowing', sendItem);
        this.$emit('updateItems', item, 'product');
      } else { // if it's a consumable
        url = 'http://localhost:8888/rest/consumablerequest/api/deleteConsumableRequest/';
        this.axios
          .delete(url.concat(item.id)); // Remove object from the database
        const sendItem = {};
        sendItem.endDate = item.endDate;
        sendItem.id = 0;
        sendItem.name = item.name;
        sendItem.renderDate = null;
        sendItem.startDate = item.startDate;
        sendItem.userId = item.userId;
        this.axios
          .post('http://localhost:8888/rest/consumableborrowing/api/createConsumableBorrowing', sendItem);
        this.$emit('updateItems', item, 'consommable');
      }
    },
    onClickRefuser(item) {
      let url = '';
      if (item.Code_barre != null) { // if it's a product
        url = 'http://localhost:8888/rest/productrequest/api/deleteProductRequest/';
        this.$emit('updateItems', item, 'product');
      } else { // if it's a consumable
        url = 'http://localhost:8888/rest/consumablerequest/api/deleteConsumableRequest/';
        this.$emit('updateItems', item, 'consommable');
      }
      this.axios
        .delete(url.concat(item.id)); // Remove object from the database
    },
  },
};

</script>
