<template>
  <div id="table">
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="items"
    >
      <template v-slot:cell(img)="data">
        <b-img :src="data.value" :height="80"></b-img>
      </template>

      <template v-slot:cell(annuler)="row">
        <b-button
          block
          size="sm"
          @click="cancelProduct(row.item)"
        >Annuler</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  name: 'Basket',

  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      fields: [// Headers of the table
        { key: 'img', label: 'Produit', sortable: true },
        { key: 'name', label: 'Nom', sortable: true },
        { key: 'startDate', label: "Date d'emprunt", sortable: true },
        { key: 'endDate', label: 'Date de retour', sortable: true },
        { key: 'barcode', label: 'Code barre', sortable: true },
        { key: 'annuler', label: 'Annuler', thStyle: { width: '15%' } },
      ],
      id: 'tableConsumables',
      totalRows: 1, // Number of rows
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
  },
  methods: {
    cancelProduct(item) {
      this.$emit('updateItems', item);
      this.$store.commit('removeProductFromBasket', item);
    },
  },
};

</script>
