<template>
  <div class="col d-flex justify-content-center">
    <b-card id="loggin-zone">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <!-- Login field -->
        <b-form-group
          id="input-group-1"
          label="Numéro Etudiant :"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="form.num"
            required
            placeholder="Numéro"
            :state="valid"
          ></b-form-input>
        </b-form-group>

        <!-- Password field -->
        <b-form-group id="input-group-2" label="Mot de passe:" label-for="input-2" >
          <b-form-input
            id="input-2"
            v-model="form.password"
            type="password"
            required
            placeholder="Mot de passe"
            :state="valid"
          ></b-form-input>

          <!-- FeedBack message -->
          <b-form-invalid-feedback :state="valid">
            {{ errorMsg }}
          </b-form-invalid-feedback>
        </b-form-group>

        <!-- Connect button -->
        <b-button type="submit" variant="primary">Se connecter</b-button>

      </b-form>
      <!-- RESULT TEMP -->
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card> -->
    </b-card>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import sha256 from 'crypto-js/sha256';

export default {
  data() {
    return {
      form: {
        num: '',
        password: '',
      },
      show: true,
      valid: null,
      errorMsg: '',
    };
  },
  methods: {
    ...mapMutations(['changeUser']),
    onSubmit(evt) {
      evt.preventDefault();
      // get connexion user and set it to vuex
      const url = 'http://localhost:8888/rest/connexion/api/connect?';
      const pwd = sha256(this.form.password);
      // this.valid = false;
      this.axios
        .get(url.concat('password=', pwd, '&userId=', this.form.num))
        .then((response) => {
          this.valid = true;
          this.changeUser({
            userId: response.data.userId,
            admin: response.data.admin,
            superAdmin: response.data.superAdmin,
          });

          // If number and password are correct
          if (this.user.admin === false && this.user.superAdmin === false) {
            this.$router.push({ name: 'Home' });
          } else if (this.user.superAdmin === false && this.user.admin === true) {
            this.$router.push({ name: 'Borrows' });
          } else {
            this.$router.push({ name: 'Borrows' });
          }
        })
        .catch(() => {
          this.valid = false;
          this.valid = false;
          this.errorMsg = 'Numéro ou mot de passe incorrect';
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.num = '';
      this.form.password = '';

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
  computed: {
    ...mapState(['user']),
  },
};
</script>

<style scoped>
  #loggin-zone{
    align-items: center;
  }
</style>
