<template>
  <div>
    <b-card-group columns>
      <!-- For all differents items = One card for each item -->
      <div v-for="item in Items" :key="item.id" >
        <!-- Card parameters with margin to seperate card btw them-->
        <b-card
          img-alt="Image"
          img-top
          tag="article"
          class="mb-2 overflow-hidden"
          style="margin:5px;"
          v-if="item.show"
        >
          <b-card-img :src="item.img" id="image"/>
          <b-card-title>
            {{ item.name }}
          </b-card-title>
          <b-card-text >
            <p>
              {{ item.categorie }}
            </p>
          </b-card-text>

          <b-button
          variant="primary"
          v-on:click="addBasket(item)"
          >Ajouter au panier</b-button>
        </b-card>
      </div>
    </b-card-group>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  props: {
    filter: { // String searched in the cards
      type: String,
      required: true,
    },
    catFilter: { // String categorie filter in the cards
      type: String,
      required: true,
    },
  },
  methods: {
    ...mapMutations(['updateSelectedItem']),
    addBasket(item) {
      this.updateSelectedItem(item);
      this.$router.push('UserAddBasket');
    },
  },
  computed: {
    ...mapState(['selectedItem']),
  },
  data() {
    return {
      // A modifier pour la BDD
      Items: [],
    };
  },
  mounted() {
    this.axios
      .get('http://localhost:8888/rest/article/api/getAllArticles')
      .then((response) => {
        response.data.forEach((element) => {
          const item = {
            name: 'Raspberry',
            categorie: 'Electronique',
            img: 'https://www.kubii.fr/9002-large_default/nouveau-raspberry-pi-4-modele-b-4gb-kubii.jpg',
            searchFiltered: true,
            catFiltered: true,
            show: true,
          };
          item.id = element.id;
          item.name = element.name;
          item.description = element.description;
          item.categorie = element.category.name;
          item.img = `data:image/*;base64,${element.image}`;
          item.searchFiltered = true;
          item.catFiltered = true;
          item.show = true;
          this.Items.push(item);
        });
      });
  },
  watch: {
    filter() {
      let index;
      if (this.Items !== undefined) {
        // if searchbar is empty
        if (!this.filter.localeCompare('')) {
          for (index = 0; index < this.Items.length; index += 1) {
            this.Items[index].searchFiltered = true;
          }
        } else {
          for (index = 0; index < this.Items.length; index += 1) {
            if (this.Items[index].name.toUpperCase().includes(this.filter.toUpperCase())) {
              this.Items[index].searchFiltered = true;
            } else {
              this.Items[index].searchFiltered = false;
            }
          }
        }
      }
      // Show or not with the combined filters (categorie + searchbar)
      for (index = 0; index < this.Items.length; index += 1) {
        this.Items[index].show = this.Items[index].catFiltered && this.Items[index].searchFiltered;
      }
    },
    // categorie filter
    catFilter() {
      let index;
      if (this.Items !== undefined) {
        // if no filter selected
        if (this.catFilter === '') {
          for (index = 0; index < this.Items.length; index += 1) {
            this.Items[index].catFiltered = true;
          }
        } else {
          for (index = 0; index < this.Items.length; index += 1) {
            if (this.Items[index].categorie.toUpperCase().includes(this.catFilter.toUpperCase())) {
              this.Items[index].catFiltered = true;
            } else {
              this.Items[index].catFiltered = false;
            }
          }
        }
      }
      // Show or not with the combined filters (categorie + searchbar)
      for (index = 0; index < this.Items.length; index += 1) {
        this.Items[index].show = this.Items[index].catFiltered && this.Items[index].searchFiltered;
      }
    },
  },
};
</script>

<style scoped>
/* To keep img propotional and align card by rows */
#image{
  height: 200px;
  width: auto;
}
/* To center cards */
/*
#deck{
  display:flex;
  align-items: center;
  justify-content: center;
} */
</style>
