<template>
  <div>
    <h2>Ajout d'un produit</h2>
    <br/>
    <div class="info">
      <b-card no-body class="overflow-auto" >
        <b-row no-gutters>
          <b-col md="6">
            <b-card-img :src="image" class="rounded-0" align="center" style="margin: 10px;" height="320px"></b-card-img>
          </b-col>
          <b-col md="6">
            <b-card-body :title="name">
              <b-card-text align="left">
                {{ description }}
              </b-card-text>
            </b-card-body>
          </b-col>
        </b-row>
      </b-card>
    </div>
    <div class="dispo">
      <b-card no-body class="overflow-auto" border-variant="white">
        <b-row no-gutters>
          <b-col md="8">
            <h4>Disponibilités</h4>
            <b-calendar
              block
              :date-info-fn="dateClass"
              :hide-header="true"
              :readonly="true"
              locale="fr"
              label-no-date-selected=""
            ></b-calendar>
          </b-col>
          <b-col md="4">
            <b-card-body title="Sélection des dates">
              <form onsubmit="return false">
                <div>
                  <br/>
                  <br/>
                  <b-form-datepicker
                    v-model="form.startDate"
                    :date-disabled-fn="dateDisabled"
                    locale="fr"
                    size="lg"
                    placeholder="Date de début"
                    dropdown="no-flip"
                    required/>
                  <br/>
                  <b-form-datepicker
                    v-model="form.endDate"
                    :date-disabled-fn="dateDisabled"
                    locale="fr"
                    size="lg"
                    placeholder="Date de fin"
                    required/>
                </div>
                <br/>
                <b-button @click="addToBasket">Valider et ajouter au panier</b-button>
                <br/>
                <b-form-invalid-feedback :state="invState">
                    {{invFeedback}}
                  </b-form-invalid-feedback>
              </form>
            </b-card-body>
          </b-col>
        </b-row>
      </b-card>
    </div>
    <b-modal
      ref="goOnModal"
      :hide-footer="true"
      :hide-header="true"
    >
      <div class="text-center pb-2">
        <p>Produit ajouté au panier</p>
        <b-row align-h="center">
          <b-col cols=4>
            <b-button to="Product">Continuer</b-button>
          </b-col>
          <b-col cols=4>
            <b-button to="Basket">Aller au panier</b-button>
          </b-col>
        </b-row>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      // A modifier pour la BDD
      form: {
        product: null,
        startDate: null,
        endDate: null,
        article: {
          name: '',
          img: '',
        },
      },
      name: '',
      image: '',
      description: '',
      invFeedback: '',
      invState: true,
      unavailableDates: [],
      borrowedDates: [],
      firstProduct: null,
      disponibility: true,
    };
  },
  computed: {
    ...mapState(['selectedItem', 'user']),
  },
  methods: {
    dateClass(ymd) {
      if (ymd < this.formatDate(Date.now())) return 'table-secondary';
      if (this.unavailableDates.includes(ymd)) return 'table-danger';
      if (this.nonRendu && ymd === this.formatDate(Date.now())) return 'table-warning';
      return 'table-success';
    },
    dateDisabled(ymd) {
      if (this.unavailableDates.includes(ymd) || ymd < this.formatDate(Date.now())) {
        return true;
      }
      return false;
    },
    addToBasket() {
      if (this.form.startDate === null || this.form.endDate === null) {
        this.invFeedback = 'Veuillez remplir les champs';
        this.invState = false;
      } else if (this.form.startDate > this.form.endDate) {
        this.invFeedback = 'Veuillez choisir une date de fin postérieur à la date de début';
        this.invState = false;
      } else {
        let bool = true;
        this.unavailableDates.forEach((notAvDate) => {
          if (this.form.startDate < notAvDate && notAvDate < this.form.endDate) {
            this.invFeedback = "Aucun produit n'est disponible dans l'interval sélectionné";
            this.invState = false;
            bool = false;
          }
        });
        if (bool === true) {
          this.invState = true;
          this.form.article.name = this.selectedItem.name;
          this.form.article.img = this.selectedItem.img;
          this.form.product = this.getProduct(this.form.startDate, this.form.endDate);
          this.$store.commit('addProductToBasket', this.form);
          this.createProductBorrowing(this.form);
          this.$refs.goOnModal.show();
        }
      }
    },
    convertFormatDateENtoRF(input) {
      const datePart = input.match(/\d+/g);
      const year = datePart[0]; // get only two digits
      const month = datePart[1];
      const day = datePart[2];

      return `${day}-${month}-${year}`;
    },
    createProductBorrowing(item) {
      const sendItem = {
        adminComment: '',
        endDate: this.convertFormatDateENtoRF(item.endDate),
        id: 0,
        pickedUp: false,
        product: item.product,
        renderDate: null,
        startDate: this.convertFormatDateENtoRF(item.startDate),
        userId: this.user.userId,
      };
      this.axios
        .post('http://localhost:8888/rest/productborrowing/api/createProductBorrowing', sendItem);
    },
    addDays(currentDate, days) {
      const date = new Date(currentDate.valueOf());
      date.setDate(date.getDate() + days);
      return date;
    },
    getDates(startDate, stopDate) {
      const dateArray = [];
      let currentDate = startDate;
      while (currentDate <= stopDate) {
        dateArray.push(new Date(currentDate));
        currentDate = this.addDays(currentDate, 1);
      }
      return dateArray;
    },
    formatDate(date) {
      const d = new Date(date);
      let month = `${d.getMonth() + 1}`;
      let day = `${d.getDate()}`;
      const year = d.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join('-');
    },
    getProduct(startDate, endDate) {
      if (this.borrowedDates.length === 1) return this.firstProduct;
      for (let i = 0; i < this.borrowedDates.length; i += 1) {
        const product = this.borrowedDates[i];
        if (product.indisponibilityDates.length === 0) return this.firstProduct;
        for (let index = 0; index < product.indisponibilityDates.length; index += 1) {
          const dateRanges = product.indisponibilityDates[index];
          if ((startDate > dateRanges[1] || startDate < dateRanges[0]) && endDate < dateRanges[0] && endDate < product.indisponibilityDates[index + 1]) return product.productDTO;
        }
      }
      return null;
    },
    convertFormatDateFRtoEN(input) {
      const datePart = input.match(/\d+/g);
      const year = datePart[2];
      const month = datePart[1];
      const day = datePart[0];

      return `${year}-${month}-${day}`;
    },
  },
  mounted() {
    this.name = this.selectedItem.name; // Article's name
    this.image = this.selectedItem.img; // Article's image
    this.description = this.selectedItem.description; // Article's description
    const tempoUnavailableDates = []; // Temporary table of Article's non available date
    const url = 'http://localhost:8888/rest/article/api/getNotAvailableProducts?';
    // Get all date ranges where article is unavailable
    this.axios
      .get(url.concat('id=', this.selectedItem.id))
      .then((response) => {
        this.borrowedDates = response.data; // ------------------------ A changer
        let cpt = 0;
        // Go through all date ranges where the article is borrowed
        this.borrowedDates[0].indisponibilityDates.forEach((dateRange) => {
          let sDate = dateRange[0]; // Start date
          let eDate = dateRange[1]; // End date
          if (dateRange[1] !== '') { // If the product is currently not borrowed
            sDate = this.convertFormatDateFRtoEN(dateRange[0]);
            eDate = this.convertFormatDateFRtoEN(dateRange[1]);
          }
          // Get and go through all dates where the article is borrowed
          this.getDates(new Date(sDate), new Date(eDate)).forEach((date) => {
            tempoUnavailableDates.push(this.formatDate(date)); // Add all these dates in a table
          });
        });
        const productNumber = this.borrowedDates.length; // Number of Article's products
        // Go through all dates where the article is borrowed
        tempoUnavailableDates.forEach((date) => {
          tempoUnavailableDates.forEach((d) => {
            if (date === d) cpt += 1;
            if (cpt === productNumber) {
              this.unavailableDates.push(date); // Add dates where the article is unavailable
              cpt = 0;
            }
          });
          cpt = 0;
        });
      });
    this.axios
      .get('http://localhost:8888/rest/product/api/getAllProducts')
      .then((response) => {
        response.data.forEach((element) => {
          if (element.article.id === this.selectedItem.id) this.firstProduct = element;
          if (this.firstProduct === null) this.disponibility = false;
          else this.disponibility = true;
        });
      });
  },

};
</script>

<style scoped>

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.info {
  max-width: auto;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;
}
.dispo {
  max-width: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.calendar {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.add {
  grid-column: 3;
  grid-row: 1;
  margin-right: 5%;
  max-width: auto;
}
h4 {
  margin: 10px;
}
</style>
