<template>
  <!-- w-25 : div takes 25% of the page -->
  <div >
    <b-card bg-variant="light" id="cardFilter">
      <div id="filter">
        <b-form-input
          v-model="filter"
          type="search"
          placeholder="Rechercher"
          id="filter-component"
        ></b-form-input>
        <b-form-select
          v-model="catFilter"
          :options="categOptions"
          id="filter-component"
          >
        </b-form-select>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  watch: {
    filter() { // Watch when a changement occures on the page
      this.$emit('updateFilter', this.filter); // Emit the new filter to the parent
    },
    catFilter() { // Watch when a changement occures on the page
      this.$emit('updateCatFilter', this.catFilter); // Emit the new filter to the parent
    },
  },
  data() {
    return {
      filter: '',
      catFilter: '',
      categOptions: [{ value: '', text: 'Sélectionner une catégorie' }],
    };
  },
  mounted() {
    this.axios
      .get('http://localhost:8888/rest/category/api/getAllCategories')
      .then((response) => {
        response.data.forEach((element) => {
          this.categOptions.push({
            value: element.name,
            text: element.name,
          });
        });
      });
  },
};
</script>

<style scoped>

/* Margin btw sections */

#demand-btn{
  margin: 5px;
}

/* Space btw button and filters */
#filter{
  margin-bottom: 50px;
}

#filter-component{
  margin-top: 5px;
  margin-bottom: 5px;
}

#cardFilter{
  min-width: 200px;
  max-width: 400px;
}
</style>
