<template>
  <!-- w-25 : div takes 25% of the page -->
  <div>
    <b-form-input
        v-model="filter"
        type="search"
        placeholder="Rechercher"
    ></b-form-input>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  data() {
    return {
      filter: '',
    };
  },
  watch: {
    filter() { // Watch when a changement occures on the page
      this.$emit('updateFilter', this.filter); // Emit the new filter to the parent
    },
  },
};
</script>
