<template>
  <div>
    <b-card-group deck style="margin: auto; width: 80%;">
      <b-card id="card" no-body align="left" border-variant="white">
          <b-form @submit="chercher" onsubmit="return false">
            <b-form-input
              v-model="userIdSearch"
              placeholder="Numéro d'identification"
              required
            ></b-form-input>
            <br/>
            <b-row>
              <b-col>
                <b-button type ="submit">Chercher</b-button>
              </b-col>
              <b-col cols="8">
                <b-form-invalid-feedback :state="invStateSearch">
                  {{invFeedbackSearch}}
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-form>
      </b-card>
      <b-card id="card" no-body align="left">
        <b-form onsubmit="return false" style="margin: 10px;">
          <b-row>
            <b-col>
              <h5>Identifiant : </h5>
            </b-col>
            <b-col cols="8">
              {{form.userId}}
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <h5>Admin : </h5>
            </b-col>
            <b-col cols="8">
              <b-form-radio-group
                v-model="form.admin"
                :options="options"
                name="radio-inline"
                :disabled="disabled"
              ></b-form-radio-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button
                type ="submit"
                :disabled="disabled"
                @click="valider"
              >Valider</b-button>
            </b-col>
            <b-col cols="8">
              <b-form-valid-feedback :state="valStateValidate">
                {{valFeedbackValidate}}
              </b-form-valid-feedback>
            </b-col>
          </b-row>
        </b-form>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
export default {
  name: 'SuperAdminManagment',
  data() {
    return {
      form: {
        admin: null,
        id: null,
        password: '',
        superAdmin: '',
        userId: 'Veuillez rechercher un utilisateur',
      },
      userIdSearch: '',
      disabled: true,
      invStateSearch: null,
      invFeedbackSearch: 'Utilisateur non trouvé',
      valStateValidate: null,
      valFeedbackValidate: 'Changement opéré',
      options: [{ value: true, text: 'Oui' }, { value: false, text: 'Non' }],
    };
  },
  methods: {
    chercher() {
      this.invStateSearch = true;
      const url = 'http://localhost:8888/rest/user/api/getUserByUserId?';
      this.axios
        .get(url.concat('userId=', this.userIdSearch))
        .then((response) => {
          this.form = response.data;
          this.disabled = false;
          this.valStateValidate = false;
        })
        .catch(() => {
          this.valStateValidate = false;
          this.invStateSearch = false;
          this.disabled = true;
          this.form = {
            admin: null,
            id: null,
            password: '',
            superAdmin: '',
            userId: 'Veuillez rechercher un utilisateur',
          };
        });
    },
    valider() {
      this.valStateValidate = false;
      if (this.form.admin === true) {
        this.axios
          .post('http://localhost:8888/rest/user/api/createAdministrator', this.form)
          .then(() => {
            this.valStateValidate = true;
          });
      }
      if (this.form.admin === false) {
        this.axios
          .post('http://localhost:8888/rest/user/api/deleteAdministrator', this.form)
          .then(() => {
            this.valStateValidate = true;
          });
      }
    },
  },
};
</script>

<style scoped>
#card {
  min-width: 200px;
  max-width: 500px;
}
</style>
