<template>
    <!-- b-container split in 12 columns the width of the page -->
    <b-container>
      <b-row>
        <b-col cols="1.5">
          <b-form-select
              v-model="perPage"
              :options="pageOptions"
          ></b-form-select>
        </b-col>

        <b-col cols="4">
        </b-col>

        <b-col cols="3">
          <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              :aria-controls="idTable"
          ></b-pagination>
        </b-col>

        <b-col cols="4">
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'TablePage',
  props: {
    totalRows: { // Data of the table
      type: Number,
      required: true,
    },
    idTable: { // Id of the table
      type: String,
      required: true,
      default: 'table',
    },
  },

  watch: { // Watch when a changement occures on the page
    currentPage() {
      this.$emit('updateCurrentPage', this.currentPage);// Emit the new number of the current page to the parent
    },
    perPage() {
      this.$emit('updatePerPage', this.perPage);// Emit the new number of rows to display page to the parent
    },
  },
  data() {
    return {
      pageOptions: [5, 10, 15], // Different possibilies of number of rows to diplay
      currentPage: 1, // Number of the current page
      perPage: 5, // Number of rows to display
    };
  },
};
</script>
