<template>
  <div>
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="items"
      :filter="filter"
      @filtered="onFiltered"
    >
      <template v-slot:cell(Annuler_commande)="row">
        <b-button block size="sm" @click="cancelDemand(row.item)">Annuler</b-button>
      </template>
    </b-table>
  </div>
</template>


<script lang="ts">
export default {
  name: 'UserBorrowTable',
  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
    filter: { // String searched in the table
      type: String,
      required: true,
    },
  },
  data() {
    return {
      fields: [// Headers of the table
        { key: 'name', label: 'Nom du matériel', sortable: true },
        { key: 'state', label: 'Etat', sortable: true },
        { key: 'startDate', label: "Date d'emprunt", sortable: true },
        { key: 'endDate', label: 'Date de retour', sortable: true },
        { key: 'Annuler_commande', label: 'Annuler la demande', thStyle: { width: '15%' } },
      ],
      id: 'table',
      totalRows: 1, // Number of rows
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
  },
  methods: {
    onFiltered(filteredItems) { // When a filter is applied on the table
      this.totalRows = filteredItems.length; // Update the number of rows
      this.currentPage = 1; // Update the current page number to 1
    },
    cancelDemand(item) { // When a filter is applied on the table
      let url = '';
      if (item.Code_barre != null) { // if it's a product
        url = 'http://localhost:8888/rest/productrequest/api/deleteProductRequest/';
        this.axios
          .delete(url.concat(item.id)); // Remove object from the database
        this.$emit('updateItems', item, 'product');
      } else { // if it's a consumable
        url = 'http://localhost:8888/rest/consumablerequest/api/deleteConsumableRequest/';
        this.axios
          .delete(url.concat(item.id)); // Remove object from the database
        this.$emit('updateItems', item, 'consumable');
      }
    },
  },

};
</script>
