
<template>
  <div>
    <b-navbar  id="navbar" toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#" id="brand">Menu</b-navbar-brand>

      <!-- When responsive little size :
      you will have compressed menu
      with a toggle button to display it -->
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav id="tabs">

          <!-- All different items -->
          <b-nav-item to="/home">Accueil</b-nav-item>
          <b-nav-item to="/product">Liste de Matériel</b-nav-item>
          <b-nav-item to="/basket">Panier
            <b-badge v-if="nbItem.localeCompare('')" variant="danger" pill>{{nbItem}} </b-badge>
          </b-nav-item>
          <b-nav-item to="/historic">Historique</b-nav-item>
          <b-nav-item to="/userdemand">Mes Demandes</b-nav-item>

        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-button @click="deconnect" id="deco" variant="danger">Deconnexion</b-button>
        </b-navbar-nav>
      </b-collapse>

    </b-navbar>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'UserNavBar',
  props: {
    activated: String,
  },
  data() {
    return {
      nbItem: '',
    };
  },
  computed: {
    ...mapState(['nbItemBasket']),
  },
  methods: {
    deconnect() {
      this.emptyBasket();
      this.$router.push({ name: 'Login' });
      this.decoUser();
    },
    ...mapMutations(['decoUser', 'initNbItemBasket', 'emptyBasket']),
  },
  mounted() {
    this.initNbItemBasket();
    if (this.nbItemBasket === 0) this.nbItem = '';
    else this.nbItem = this.nbItemBasket.toString();
  },
  watch: {
    nbItemBasket() {
      if (this.nbItemBasket === 0) this.nbItem = '';
      else this.nbItem = this.nbItemBasket.toString();
    },
  },
};
</script>

<style>
#brand{
  font-weight: bold;
}


#navbar {
  font-size: 19px;
}

#nav-collapse {
  padding: 5px;
}

#nav-collapse :hover{
  color: #f7f7f7;
}

#tabs a {
  font-weight: bold;
  color: #919191;
}

#nav-collapse a.router-link-exact-active  {
  color: #f7f7f7;
}


</style>
