<template>
  <div>
    <b-table
      :id="id"
      striped
      bordered
      :per-page="perPage"
      :current-page="currentPage"
      :fields="fields"
      :items="cptItems"
      :filter="filter"
      @filtered="onFiltered"
    ></b-table>
  </div>
</template>

<script>
export default {
  name: 'UserBorrowTable',
  props: {
    items: { // Data of the table
      required: true,
    },
    perPage: { // Number of rows to display
      type: Number,
      required: true,
    },
    currentPage: { // Number of the current page
      type: Number,
      required: true,
    },
    filter: { // String searched in the table
      type: String,
      required: true,
    },
  },
  data() {
    return {
      fields: [// Headers of the table
        { key: 'Code_barre', label: 'Code barre', sortable: true },
        { key: 'Nom_du_materiel', label: 'Nom du matériel', sortable: true },
        { key: 'Etat', sortable: true },
        { key: 'startDate', label: "Date d'emprunt", sortable: true },
        { key: 'endDate', label: 'Date de retour', sortable: true },
        { key: 'Jours_restants', label: 'Jours restants', sortable: true },
      ],
      id: 'table',
      totalRows: 1, // Number of rows
    };
  },
  mounted() { // At the creation of the component
    this.$emit('init', this.id); // Emit the id of the table to the parent
  },
  watch: { // Watch when a changement occures on the page
    totalRows() {
      this.$emit('updateTotalRows', this.totalRows, this.currentPage);// Emit the new number of rows and of the current page to the parent
    },
  },
  methods: {
    onFiltered(filteredItems) { // When a filter is applied on the table
      this.totalRows = filteredItems.length; // Update the number of rows
      this.currentPage = 1; // Update the current page number to 1
    },
    retard(valeur) {
      if (valeur < 0) return 'danger';
      if (valeur === 0) return 'warning';
      return null;
    },
  },
  computed: {
    cptItems() {
      return this.items.map((datum) => ({
        ...datum,
        _cellVariants: {
          Jours_restants: this.retard(datum.Jours_restants),
        },
      }));
    },
  },
};
</script>
